<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title text-center">
            
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                
                <h4 class="page-title">Transaction List<button class="btn btn-danger pull-rightt m-l-20 hidden-xs hidden-sm waves-effect waves-light" routerLink="/duepayment" >Due Payments</button></h4>
            </div>
        </div>
        <!-- <div class="filters" style="float: right;">
            
            <div class="col-lg-4 col-sm-4 col-xs-8">
            <form [formGroup]="addFilterForm" (ngSubmit)="filterCoupon(1,2)" name="addFilterForm">
            <mat-form-field >
                <input value="" class="form-control" matInput [matDatepicker]="basicDatepicker" formControlName="start_date" type="datetime" placeholder="From date" aria-label="Search">
                <mat-datepicker-toggle [for]="basicDatepicker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #basicDatepicker></mat-datepicker>
            </mat-form-field>
            </form>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-8">

            <form [formGroup]="addFilterForm" (ngSubmit)="filterCoupon(1,2)" name="addFilterForm">
            <mat-form-field >
                <input value="" class="form-control" matInput [matDatepicker]="basicDatepicker1" formControlName="end_date" type="datetime" placeholder="To date" aria-label="Search">
                <mat-datepicker-toggle [for]="basicDatepicker1" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #basicDatepicker1></mat-datepicker>
            </mat-form-field>
            </form>
            </div>
            
            <div class="col-lg-4 col-sm-4 col-xs-8">
                <button style="margin: -5px -200px 8px 32px ;" class="btn btn-danger pull-left m-l-20 hidden-xs hidden-sm waves-effect waves-light" type="submit" (click)="filterCoupon(1,2)" >Search</button>

            </div>
            <div class="col-lg-4 col-sm-4 col-xs-8">
                <form  [formGroup]="addFilterForm" (ngSubmit)="filterCoupon(1,2)" name="addFilterForm">
                    <input formControlName="user_name" type="text" class="form-control" placeholder="Username" aria-label="Search">
                    
                </form>
                </div>
        </div> -->
        <div class="row">
            <aside class="col-sm-2">
                <div class="col-lg-4 col-sm-4 col-xs-8">
                    <form [formGroup]="addFilterForm" (ngSubmit)="filterCoupon(1,2)" name="addFilterForm">
                    <mat-form-field >
                        <input value="" class="form-control" matInput [matDatepicker]="basicDatepicker" formControlName="start_date" type="datetime" placeholder="From date" aria-label="Search">
                        <mat-datepicker-toggle [for]="basicDatepicker" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #basicDatepicker></mat-datepicker>
                    </mat-form-field>
                    </form>
                    </div>
            </aside>

            <aside class="col-sm-2" >
                <div class="col-lg-4 col-sm-4 col-xs-8">

                    <form [formGroup]="addFilterForm" (ngSubmit)="filterCoupon(1,2)" name="addFilterForm">
                    <mat-form-field >
                        <input value="" class="form-control" matInput [matDatepicker]="basicDatepicker1" formControlName="end_date" type="datetime" placeholder="To date" aria-label="Search">
                        <mat-datepicker-toggle [for]="basicDatepicker1" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #basicDatepicker1></mat-datepicker>
                    </mat-form-field>
                    </form>
                    </div>                    
            </aside>
            <aside class="col-sm-2" >
                <div class="col-lg-4 col-sm-4 col-xs-8">
                    <button style="margin: -5px -200px 8px 32px ;" class="btn btn-danger pull-left m-l-20 hidden-xs hidden-sm waves-effect waves-light" type="submit" (click)="filterCoupon(1,2)" >Search</button>
    
                </div>
                    
            </aside>
            
            <aside class="col-sm-6">
                <!-- <div class="col-lg-6 col-sm-6 col-xs-12" style="align=right;">
                    <form  [formGroup]="addFilterForm" (ngSubmit)="filterCoupon(1,2)" name="addFilterForm">
                        <input formControlName="user_name" type="text" class="form-control" placeholder="Username" aria-label="Search">
                        
                    </form>
                    </div> -->
                    <div class="filters" style="float: right;">
                        <div class="col-lg-20 col-sm-20 col-xs-40">
                            <form  [formGroup]="addFilterForm" (ngSubmit)="filterCoupon(1,2)" name="addFilterForm">
                                <input formControlName="user_name" type="text" class="form-control" placeholder="Username" aria-label="Search">
                                
                            </form>
                            </div>
                    </div>
            </aside>
            
        </div>
        
        <div class="row">
            
            <div class="col-sm-12">  
                <!-- <input class="form-control my-0 py-1 " type="text" [(ngModel)]="searchText" #ctrl="ngModel"  class="form-control" (input)="setValue()"  [ngModelOptions]="{standalone: true}" placeholder="Title" aria-label="Search"> -->
                <div class="white-box">
                    <div id="overlay" class="table-responsive">
                        <table class="table row-border hover flag">
                        
                            <thead>
                                <tr>
                                    <!-- <th  *ngIf=" _dataService.transdetail.length == 0"  style="min-width: 250px ">Id</th>
                                    <th  *ngIf=" _dataService.transdetail.length > 0">Id</th> -->
                                    <!-- <th style="min-width: 250px;
                                    width: 315px;">Id</th> -->
									<!-- <th  *ngIf="_dataService.countrieslist && _dataService.countrieslist.length > 0">Id</th> -->
                                    
                                    <th>Buyer</th>
                                    <th>Transaction Id</th>
                                    <th>Order Status</th>
                                    <th>Transaction Time</th>
                                    <th>Service Tax</th>
                                    <th style="max-width: 150px;">Total Amount</th>
                                    
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                <tr *ngFor="let cntry of _dataService.transdetail | paginate: { itemsPerPage:itemsPerPage, currentPage: currentPage }; let i=index;">
                                                                        
                                    <td>{{cntry.user.user_name}}</td>
                                    <td>{{cntry.transaction_id}}</td>
                                    <td>{{cntry.order_status}}</td>
                                    <td>{{cntry.transaction_time}}</td>
                                    <td>$ {{cntry.service_tax}}</td>
                                    <td>$ {{cntry.total_amount}}</td>
                                    
                                    
                                   <!-- <td>{{cntry.image != "" ? image =cntry.image : image= "/assets/profile_image.jpg"}} <img src=""/></td> -->
                                    
                                </tr>
                                

                            </tbody>
                            <!-- <div *ngIf="_dataService.countrieslist && _dataService.countrieslist.length==0"><tbody><h2>No Country Found.</h2></tbody></div> -->
                             
                        </table>
                        <div class="data-pagination">
                            <pagination-controls class="pagination" (pageChange)="getNext($event)"></pagination-controls>
    

                    </div>
    
                        <!--pagination-controls class="pagination" (pageChange)="currentPage=$event"></!--pagination-controls>-->
                        <ngx-spinner bdColor="rgba(255,255,255, 0.8)" size="default" color="#118081" type="ball-spin-clockwise">  
                            <!-- <p style="color: white">Please Wait. </p>   -->
                            </ngx-spinner> 
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<app-footer></app-footer>
