<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
        </div>
        <ul class="nav" id="side-menu">
            <li style="padding: 70px 0 0;">
                <!-- <a  routerLink="/dashboard" id="dashboard_sidebar" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a> -->
                <a routerLink="/dashboard" id="dashboard_sidebar" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
            </li>

            <li>
                <!-- <a routerLink="/country" id="country_sidebar" class="waves-effect"><i class="fa fa-globe fa-fw" aria-hidden="true"></i>Country</a> -->
                <a routerLink="/registeredUsers" id="users_sidebar" class="waves-effect" ><i class="fa fa-users fa-fw" aria-hidden="true"></i>Users</a>
            </li>

            <li>
                
                    <a routerLink="/post" id="post_sidebar" class="waves-effect"><i class="fa fa-tags" aria-hidden="true"></i>
                        Promotional Post</a>
            </li>

            <li>
                <!-- <a routerLink="/sendnotifications" id="notification_sidebar" class="waves-effect"><i class="fa fa-bell" aria-hidden="true"></i>
                    Notifications</a> -->
                    <a routerLink="/getNotification" id="getNotification_sidebar" class="waves-effect" ><i class="fa fa-bell" aria-hidden="true"></i>
                        Notifications</a>
            </li>

            <!-- <li>
                <a routerLink="#" id="history_sidebar" class="waves-effect"><i class="fa fa-history" aria-hidden="true"></i>History</a>
            </li> -->

            <li>
                <!-- <a routerLink="/requests" id="request_sidebar" class="waves-effect"><i class="fa fa-file-text" aria-hidden="true"></i>Requests</a> -->
                <a routerLink="/payment" id="payment_sidebar" class="waves-effect" ><i class="fa fa-file-text" aria-hidden="true"></i>Payment</a>
            </li>

            <li>
                <!-- <a routerLink="/contactus" id="contact_sidebar" class="waves-effect"><i class="fa fa-phone" aria-hidden="true"></i>
                    Contact Us</a> -->
                    <a routerLink="/orders" id="orders_sidebar" class="waves-effect"><i class="fa fa-phone" aria-hidden="true"></i>
                        Order</a>
            </li>
            
        </ul>
    </div>
    
</div>