.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #118081;
    border-color: #118081;
}

.btn-danger{
    background: #D3D3D3;
    border: 1px solid #D3D3D3;
}