<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title text-center">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <!-- <span class="back_arrow" style="float: left;"><a (click)="backClicked()" style="color: #000;"> <i class="fa fa-arrow-left" aria-hidden="true" style="font-size:20px ;"></i></a>
                </span> -->
                <h4 class="page-title"> Users </h4>
                <!-- <input class="form-control" id="myInput" type="text" placeholder="Search.."> -->
            </div>
            
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-16">
                <button class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light" routerLink="/activeUsers" style="width: 500px; height: 100px;" >view Active Users</button>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <button class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light" routerLink="/registeredUsers" style="width: 500px; height: 100px;">View Registered Users</button>
            </div>
        </div>
        
    </div>
    </div>
<app-footer></app-footer>